<div class="project-tile">
  <div class="row">
    <div class="col-md-4">
      <img class="header" src={{project.image}}>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <p class="tile-title">{{project.name}}</p>
      <p class="tile-content">By: {{project.owner}}</p>
      <p class="tile-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="row funds">
    <div class="col-md-4">
      <p>Funding goal: ${{project.goal_amount}}</p>
    </div>
    <div class="col-md-4">
      <p>Closes {{moment-from-now project.goal_date interval=1000}}</p>
    </div>
    <div class="col-md-4">
      <p>${{project.current_amount}}.00 contributed</p>
    </div>
    <!-- ^replace with computed properties & ember.moment -->
  </div>
  <div class="tile-footer">
    {{#if project.funded}}
      <p>Goal has been met!</p>
    {{else}}
      <!-- <p>Help {{project.author}} meet their goal!</p> -->
    {{/if}}
    <!-- <h4>{{project.location}}</h4> -->
  </div>
</div>
